@page "/Account/ForgotPasswordConfirmation"
@layout NoLayout

@using ABC.Client.Components.Layout

<PageTitle>Forgot password confirmation</PageTitle>

<style>
    .mainBody {
        text-align: center;
        margin: 2rem;
    }
</style>

<div class="mainBody">
    <h1>Forgot password confirmation</h1>
    <p>
        Please check your email if you have received a link to reset your password.
    </p>
    <a type="button" class="btn btn-primary" href="/Account/Login">
        Go back to the Login Page
    </a>
</div>
