.content {
    justify-content: center;
    display: flex;
    margin-top: 5em;
}

.card {
    width: 500px;
    height: 450px;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.contentBody {
    justify-content: center;
    text-align: center;
    
}

h1 {
    color: #223442;
    font-weight: bold;
}

